<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UniRentHub | Accesso</title>
    <link rel="stylesheet" href="../static/css/dipendentiLog.css">
</head>
<body>
    <form  action="/AccessoAdmin" method="post">
        <header>
            <a class="active">Accedi</a>
        </header>
        <section id="section-1">
            <div class="form-group">
                <input id="user" type="text" autocomplete="off" required name="email"/>
                <label for="user">Email</label>
            </div>
            <div class="form-group">
                <input id="password" type="password" required name="password"/>
                <label for="password">Password</label>
            </div>
            <div class="form-group">
                <input name="Button" id="signInButton" type="button" value="Accedi" />
                <script>
                     document.getElementById("signInButton").onclick = function() {
                         document.querySelector('form').submit();
                };
                </script>
            </div>
        </section>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../static/js/pop-up.js"></script>
</body>
</html>