<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h1>Admin Page </h1>
    <ul>
        {% for dipendente in dipendenti %}
            <li>Nome: {{ dipendente.getNome() }}, Cognome: {{ dipendente.getCognome() }}, Email: {{ dipendente.getEmail() }}</li>
        {% endfor %}
    </ul>
<form action="/admin" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required><br><br>

        <label for="cognome">Cognome:</label>
        <input type="text" id="cognome" name="cognome" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="Registra Homechecker">
    </form>
</body>
</html>