{% extends "base.html" %}

{% block title %} Segnalazione {% endblock %}

{% block style %}
<style>
    .custom-btn-color-homechecker {
        background-color: #556b2f !important;
        border-color: #556b2f !important;
        color: white !important;
    }

    .modal-dialog {
        max-width: 800px;
    }

    .modal-content {
        padding: 30px;
        box-shadow: none;
        border: none;
        border-radius: 60px;
    }

 .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }


</style>
{% endblock %}

{% block content %}


    {% if session.get("tipo") == "Admin" %}
        {% include "header_admin.html" %}
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <button type="button" class="btn custom-btn-color-homechecker" data-toggle="modal" data-target="#exampleModalCenterSecond" style="max-width: 200px; padding: 15px 15px; border-radius: 20px;">Aggiungi Homechecker</button>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <div class="row mt-4" id="separator">
                    <div class="col-12">
                        <div style="height: 2px; background-color: #8a97a0; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);"></div>
                    </div>
                </div>

                <div class="container mt-5">
                    {% set counter = 0 %}
                    <div class="row mt-4">
                        {% for dipendente in dipendenti_homechecker %}
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card d-flex flex-column justify-content-between" style="width: 18rem; height: 100%;">
                                    <img style="padding: 20px" src="../static/img/profile.png" width="30" height="200" class="card-img-top" alt="homecheckerpictures">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ dipendente.getNome()}} {{ dipendente.getCognome()}}</h5>
                                        <p style="word-wrap: break-word;" class="card-text">{{ dipendente.getEmail() }}</p>
                                        <form action="/admin" method="post" id="deleteForm">
                                            <input type="hidden" name="delete_email" id="deleteEmailField" value="{{ dipendente.getEmail() }}">
                                            <button style="border-radius:20px ;margin-top:20px; background-color: #556b2f; border-color: #556b2f !important;" type="submit">Rimuovi</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% if (loop.index % 3 == 0) and (not loop.last) %}
                                </div><div class="row mt-4">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="container mt-5">
                    <div class="row">
                        <div class="col-12">
                            <form action="/admin" method="POST" class="mt-4">
                                <div class="form-group">
                                    <label for="emailS">Inserisci l'email del segnalato:</label>
                                    <input type="email" class="form-control" id="emailS" name="emailS" required placeholder="Email ">
                                </div>
                                <button type="submit" class="btn btn-primary style=" style="max-width: 200px; padding: 15px 15px; border-radius: 20px;background-color: #556b2f !important; border-color: #556b2f !important; color: white !important;">Mostra Segnalazioni</button>
                            </form>

                            {% if segnalazioni %}
                                <h3 class="mt-4">Segnalazioni relative all'email inserita:</h3>
                                <ul>
                                    {% for segnalazione in segnalazioni %}
                                        <li>
                                            <strong>Motivo:</strong> {{ segnalazione.getMotivo() }},
                                            <strong>Stato:</strong> {{ segnalazione.getStato() }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenterSecond" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content rounded">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: 24px; white-space: nowrap;">Inserimento nuovi dipendenti</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="form-container d-flex justify-content-center align-items-center vh-100">
                                    <form action="/admin" method="POST">
                                        <div class="form-group">
                                            <label for="email">Email:</label>
                                            <input type="email" class="form-control" id="email" name="email" required placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <label for="nome">Nome:</label>
                                            <input type="text" class="form-control" id="nome" name="nome" required placeholder="Nome">
                                        </div>
                                        <div class="form-group">
                                            <label for="cognome">Cognome:</label>
                                            <input type="text" class="form-control" id="cognome" name="cognome" required placeholder="Cognome">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password:</label>
                                            <input type="password" class="form-control" id="password" name="password" required placeholder="Password">
                                        </div>
                                        <button type="submit" class="btn custom-btn-color" style="background-color: #556b2f; color: white;">Aggiungi</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fine Modal -->
            </div>
        </div>
        <footer class="footer">
            {% include "footerNew.html" %}
            {% if session.get("tipo") == "Locatore" %}
                {% include "error.html" %}
            {% endif %}
        </footer>
    {% endif %}
{% endblock %}

<!-- Codice JavaScript e librerie -->
<script src="../static/js/cleaner.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
