<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    .custom-service {
        margin-bottom: 10px;
    }

    .custom-service label {
        background-color: #fff; /* Sfondo bianco di default */
        color: #000; /* Testo nero */
        display: block; /* Imposta il display a blocco per occupare tutto lo spazio disponibile */
        padding: 10px; /* Aggiunge spazio intorno al testo */
        border: 1px solid #ccc; /* Aggiunge un bordo */
        border-radius: 4px; /* Arrotonda gli angoli */
        cursor: pointer; /* Mostra il cursore come puntatore al passaggio */
        text-overflow: ellipsis; /* Aggiunge i puntini di sospensione quando il testo va oltre il limite */
        white-space: nowrap; /* Impedisce il testo di andare a capo */
        overflow: hidden; /* Nasconde il testo in eccesso */
    }

    .form-check {
  margin-bottom: 10px; /* Aggiunge spazio tra i checkbox */
}

/* Personalizza l'aspetto della checkbox stessa */
.form-check-input {
  margin-right: 5px; /* Aggiunge spazio tra la checkbox e l'etichetta */
}

/* Personalizza l'aspetto dell'etichetta della checkbox */
.form-check-label {
  display: inline-block; /* Permette di regolare il margine tra le etichette */
  margin-left: 2px;
    margin-right: 10px/* Aggiunge spazio a sinistra dell'etichetta */
}

    .custom-service label:hover {
        background-color: #f0f0f0; /* Cambia il colore al passaggio del mouse */
    }

    .custom-service label.selected {
        background-color: #007bff; /* Sfondo blu quando è selezionato */
        color: #fff; /* Testo bianco quando è selezionato */
    }

    #preview-container {
    margin-top: 10px;
}

.img-preview {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}

.linea-ombreggiata {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    padding: 70px;
}

        .linea-sfocata-orizzontale {
            width: 100%;
            height: 2px;
            background: linear-gradient(to right, transparent 0%, #000 50%, transparent 100%);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        h3 {
            color: #77dd77; /* Verde pastello */
            text-align: center;
            font-size: 2em;
            text-shadow: 2px 2px 4px rgba(119, 221, 119, 0.4); /* Ombra verde pastello */
        }

    @media (max-width: 768px) {
        .custom-service label {
            word-break: break-word; /* Abilita il testo a andare a capo in modo responsivo */
        }
    }
</style>

</head>
<body>
{% if session.get("tipo") == "Locatore" %}
    {% include "header.html" %}
<div style="margin-top: 50px" class="container-fluid">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-6">
    <div class="linea-ombreggiata">
        <!-- Contenuto del tuo div qui -->
        <h3>UniRentHub</h3>
        <br>
    <form  method="post" action="/CaricaAnnuncio" enctype="multipart/form-data" onsubmit="return verificaForm()">

    <div class="row form">
    <div class="col-md-4 mb-3">
        <label for="titolo">Titolo</label>
            <input type="text" class="form-control" id="titolo" placeholder="Titolo" name="titolo">
    </div>
    </div>




















    <div class="row form">
    <div class="col-md-6 mb-3">
      <label for="citta">Città</label>
      <input type="text" class="form-control" id="citta" placeholder="Citta" name = "citta" >
    </div>
    <div class="col-md-3 mb-3">
      <label for="provincia">Provincia</label>
      <input type="text" class="form-control" id="provincia" placeholder="Provincia" name="provincia" >
    </div>
    <div class="col-md-3 mb-3">
      <label for="cap">CAP</label>
      <input type="text" class="form-control" id="cap" placeholder="CAP" name = "cap" >
    </div>
    </div>
    <div class="row form">
    <div class="col-md-4 mb-3">
    <label for="indirizzo">Indirizzo</label>
    <input type="text" class="form-control" id="indirizzo" placeholder="indirizzo" name="indirizzo" >
    </div>
    <div class="col-md-4 mb-3">
    <label for="civico">Civico</label>
      <input type="text" class="form-control" id="civico" placeholder="civico" name = "civico" min="1" >
    </div>
    </div>
    <div class="row form">
    <div class="col-md-6 mb-3">
    <label for="tipo">Tipo Appartamento:</label>
    <div class="form-group" >
        <select id="tipo" name="tipo" class="custom-select  " >
        <option value="villa">Villa</option>
        <option value="camera">Camera</option>
        <option value="bilocale">Bilocale</option>
        <option value="monolocale">Monolocale</option>
        <option value="stanza condivisa">Stanza Condivisa</option>
        </select>
    <div class="invalid-feedback">Seleziona un elemeneto</div>
  </div>
    </div>
    </div>
    <div class="col-md-6 mb-3">
  <div class="row form">
  <div class="form-group">
    <label for="Descrizione">Descrizione</label>
    <textarea style="width: 700px; height: 300px" class="form-control" id="Descrizione" name="descrizione" rows="3"></textarea>
  </div>
  </div>
    </div>
        <div class="linea-sfocata-orizzontale"></div>
    <div style="margin-top: 60px" class="row form">
            <div class="col-md-4 mb-3">
        <label for="num_bagni">Numero Bagni:</label>
        <input type="number" class= "form-control" id="num_bagni" name="num_bagni" min="1">
    </div>
    <div class="col-md-4 mb-3">
        <label for="num_camere">Numero Camere da letto:</label>
        <input type="number" id="num_camere" class="form-control" name="num_camere" min="1">
    </div>
    </div>

<div class="row form">
    <div class="col-md-4">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" name="pannelli_fotovoltaici" class="custom-control-input" id="PannelliFotovoltaici">
            <label class="custom-control-label" for="PannelliFotovoltaici">Pannelli Fotovoltaici</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" name="arredamento" class="custom-control-input" id="Arredamento">
            <label class="custom-control-label" for="Arredamento">Arredamento</label>
        </div>
    </div>
    <div class="col-md-4">
        <!-- Terzo checkbox -->
        <div class="custom-control custom-checkbox">
            <input type="checkbox" name="pannelli_solari" class="custom-control-input" id="PannelliSolari">
        <label class="custom-control-label" for="PannelliSolari">Pannelli Solari</label>
    </div>
</div>
<br>
    <br>
    </div>
<div class="row form">
    <div class="col-md-6 mb-3">
        <label for="classe_energetica">Classe energetica:</label>

    <div class="form-group">
        <select id="classe_energetica" name="classee" class="custom-select" >

            <option value="A++">A++</option>
            <option value="A+">A+</option>
            <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
        </select>
    <div class="invalid-feedback">Seleziona un elemento</div>
  </div>
    </div>
</div>
    <div class="row form">
<div class="col-md-4 mb-3">
        <label for="num_ospiti">Numero ospiti:</label>
        <input type="number" class="form-control" id="num_ospiti" name="num_ospiti" min="1">
    </div>
<div class="col-md-4 mb-3">
    <label for="metri_quadri">Metri quadri:</label>
    <input type="number" class="form-control" id="metri_quadri" name="metri_quadri" min="1">
</div>
    </div>
<div class="row form">
<div class="col-md-4 mb-3">
      <label for="periodo_minimo">Periodo minimo (in mesi):</label>
      <input type="number" class="form-control" id="periodo_minimo" name="periodo_minimo" min="0"><br><br>
</div>
<div class="col-md-4 mb-3">
      <label for="prezzo">Prezzo:</label>
      <input type="number" class="form-control" id="prezzo" name="prezzo" min="1"><br><br>
</div>
</div>
        <div class="linea-sfocata-orizzontale"></div>

<h2 style="margin-top: 30px">Servizi:</h2><br>

<div class="row">
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="1" id="wifiCheckbox" name="checkboxGroup">
    <label class="form-check-label" for="wifiCheckbox">Wi-Fi</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="2" id="tvCheckbox" name="checkboxGroup">
    <label class="form-check-label" for="tvCheckbox">TV</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="3" id="parkingCheckbox" name="checkboxGroup">
    <label class="form-check-label" for="parkingCheckbox">Parcheggio</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="4" id="gardenCheckbox" name="checkboxGroup">
    <label class="form-check-label" for="gardenCheckbox">Giardino</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="5" id="kitchenCheckbox" name="checkboxGroup">
    <label class="form-check-label" for="kitchenCheckbox">Cucina attrezzata</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="6" id="cleaningCheckbox" name="checkboxGroup">
    <label class="form-check-label" for="cleaningCheckbox">Utensili per la pulizia</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="7" id="kitchenToolsCheckbox" name="checkboxGroup">
    <label class="form-check-label" for="kitchenToolsCheckbox">Utensili per la cucina</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="8" id="ovenCheckbox" name="checkboxGroup">
    <label class="form-check-label" for="ovenCheckbox">Forno</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="9" id="washingMachineCheckbox" name="checkboxGroup">
    <label class="form-check-label" for="washingMachineCheckbox">Lavatrice</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="10" id="dishwasherCheckbox" name="checkboxGroup">
    <label class="form-check-label" for="dishwasherCheckbox">Lavastoviglie</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="11" id="dryerCheckbox" name="checkboxGroup">
    <label class="form-check-label" for="dryerCheckbox">Asciugatrice</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="12" id="centralHeatingCheckbox" name="checkboxGroup">
    <label class="form-check-label" for="centralHeatingCheckbox">Riscaldamento centralizzato</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="13" id="airConditioningCheckbox" name="checkboxGroup">
    <label class="form-check-label" for="airConditioningCheckbox">Aria condizionata</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="14" id="wardrobeCheckbox" name="checkboxGroup">
    <label class="form-check-label" for="wardrobeCheckbox">Armadio</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="15" id="chestCheckbox" name="checkboxGroup">
    <label class="form-check-label" for="chestCheckbox">Cassettiera</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="16" id="deskCheckbox" name="checkboxGroup">
    <label class="form-check-label" for="deskCheckbox">Scrivania</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="17" id="bedCheckbox" name="checkboxGroup">
    <label class="form-check-label" for="bedCheckbox">Letto</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="18" id="elevatorCheckbox" name="checkboxGroup">
    <label class="form-check-label" for="elevatorCheckbox">Ascensore</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="19" id="poolCheckbox" name="checkboxGroup">
    <label class="form-check-label" for="poolCheckbox">Piscina</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="20" id="balconyCheckbox" name="checkboxGroup">
    <label class="form-check-label" for="balconyCheckbox">Balcone con vista</label>
  </div>
</div>
<input type="hidden" id="servizi_selezionati" name="servizi_selezionati" value="">

<div style="margin-top: 50px" class="form-group">
    <label for="lista_immagini"><h2>Carica immagini (max 3)</h2></label>
    <input type="file" class="form-control-file" id="lista_immagini" name="lista_immagini[]" multiple accept="image/*" >
    <small id="fileHelp" class="form-text text-muted">Carica massimo 3 immagini.</small>
    <div id="preview-container"></div>
</div>

          <button style="background-color: #688d51; border-color: #688d51; text-decoration: none; color: white;"
   onmouseover="this.style.backgroundColor='#6eb150'; this.style.borderColor='#6eb150';"
   onmouseout="this.style.backgroundColor='#5c8e48'; this.style.borderColor='#5c8e48';"
   onmousedown="this.style.backgroundColor='#5c8e48'; this.style.borderColor='#5c8e48';"
   onmouseup="this.style.backgroundColor='#5c8e48'; this.style.borderColor='#5c8e48';" type="submit" class="btn btn-primary" id="MioBottone">Pubblica</button>
        </form>
</div>
    </div>
</div>

    </div>


    <script>
    document.getElementById('lista_immagini').addEventListener('change', function (event) {
        const previewContainer = document.getElementById('preview-container');
        previewContainer.innerHTML = '';

        const files = event.target.files;

        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const reader = new FileReader();

            reader.onload = function (e) {
                const img = document.createElement('img');
                img.src = e.target.result;
                img.classList.add('img-preview');
                previewContainer.appendChild(img);
            };

            reader.readAsDataURL(file);
        }
    });
</script>

    <script>

    function verificaForm() {

        var titolo = document.getElementById('titolo').value;
        var provincia = document.getElementById('provincia').value;
        var citta = document.getElementById('citta').value;
        var cap = document.getElementById('cap').value;
        var indirizzo = document.getElementById('indirizzo').value;
        var civico = document.getElementById('civico').value;
        var descrizione = document.getElementById('Descrizione').value;
        var num_bagni = document.getElementById('num_bagni').value;
        var num_camere = document.getElementById('num_camere').value;
        var num_ospiti = document.getElementById('num_ospiti').value;
        var metri_quadri = document.getElementById('metri_quadri').value;
        var prezzo = document.getElementById('prezzo').value;
        var immaginiInput = document.getElementById('lista_immagini');


        if (titolo.trim().length <5) {
            alert("Inserisci il titolo!");
            event.preventDefault();
        }
        if(citta.trim().length<=0){
            alert("Inserisci città!")
            event.preventDefault()
        }
        if(provincia.trim().length !== 2){
            alert("Provincia non valida!");
            event.preventDefault();
        }
        if(cap.trim().length!==4){
            alert("Dimensione Cap non valida")
            event.preventDefault();
        }
        if(indirizzo.trim().length <= 5){
            alert("Indirizzo non valido")
            event.preventDefault();
        }
        if(civico.trim().length === 0){
            alert("Civico non valido")
            event.preventDefault();
        }
        if(descrizione.trim().length < 30){
            alert("Descrizione troppo breve")
            event.preventDefault();
        }
        if(num_bagni <= 0){
            alert("Numero bagni non valido")
            event.preventDefault();
        }
        if(num_camere <= 0){
            alert("Numero camere non valido")
            event.preventDefault();
        }
        if(num_ospiti <= 0){
            alert("Numero ospiti non valido")
            event.preventDefault();
        }
        if(metri_quadri <= 0){
            alert("Metri quadri non validi")
            event.preventDefault();
        }
        if(prezzo <= 0){
            alert("Prezzo non valido")
            event.preventDefault();
        }
        if (immaginiInput.files.length !== 3) {
        alert("Carica esattamente 3 immagini.");
        event.preventDefault();
    }



    }
</script>



{% endif %}
    {% if session.get("tipo") != "Locatore" %}
    {% include "error.html" %}
    {% endif %}

 {% include "footerNew.html" %}
</body>
</html>