<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="../static/css/post.css" rel="stylesheet">


</head>
<body>

    {% include "header.html" %}
<div class="content-container">

    <h3 style="font-family: 'Open Sans', sans-serif;"> UniRentHub Community Post</h3>
    <br>
    <form method="post" action="/CreatePost">
      <div class="form-group">
        <label for="exampleFormControlInput1">Titolo</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Titolo" name="titolo">
      </div>

      <div class="form-group">
        <label for="exampleFormControlTextarea1">Descrizione</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="descrizione" placeholder="Descrizione..."></textarea>
      </div>

      <button type="submit">Pubblica</button>
    </form>

  </div>
    {% include "footer.html" %}

</body>
</html>