<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

   <!-- Bootstrap core CSS della SearchBar-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="../static/css/searchbar/bootstrap.min.css" rel="stylesheet">

    <link href="../static/css/searchbar/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fontawesome.css">
    <link rel="stylesheet" href="../static/css/owl.css">
    <link rel="stylesheet" href="../static/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>

<style>
    footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333; /* Sostituisci con il colore desiderato per il background del footer */
  color: #fff; /* Sostituisci con il colore desiderato per il testo del footer */
  padding: 10px;
}


</style>


</head>
<body>



 <footer>
    <div class="container">
      <div class="col-lg-8">
        <p>Copyright © 2024 UniRentHub, All rights reserved.
      </div>
    </div>
  </footer>




  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/isotope.min.js"></script>
  <script src="../static/js/owl-carousel.js"></script>
  <script src="../static/js/counter.js"></script>
  <script src="../static/js/custom.js"></script>
  <script src="../static/js/cookie.js"></script>


</body>
</html>