{% extends "base.html" %}
{% block title %} Homepage {% endblock %}

{% block style %}
    <style>

/* Stile di base per il blocco "esplora" */
.esplora-block {
    width: 100%;
    max-width: 100%; /* Limita la larghezza massima al 90% della larghezza dello schermo */
    height: 500px;
    background-color: #688d51;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 20px; /* Aggiungi spaziatura interna per contenuto */
    box-sizing: border-box; /* Evita che il padding influenzi la larghezza totale */
}

.esplora-text {
    font-size: 4vw; /* Utilizza la dimensione del testo in termini di viewport width */
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
}

.sottotesto {
    font-size: 2vw; /* Utilizza la dimensione del testo in termini di viewport width */
    text-align: center;
    margin-top: -20px;
}


/* Media query per dimensioni dello schermo più piccole */
@media screen and (max-width: 767px) {
    .form-control {
        width: 100%; /* Larghezza massima del 100% su schermi più piccoli */
        max-width: none; /* Rimuove la larghezza massima */
    }

    #nutton{
        margin-top: 20px;
    }
    .esplora-text {
        font-size: 7vw; /* Aumenta la dimensione del testo su schermi più piccoli */
        margin-bottom: 10px; /* Modifica margine per migliorare la disposizione */
    }

    .sottotesto {
        font-size: 4vw; /* Aumenta la dimensione del testo su schermi più piccoli */
        margin-top: -10px; /* Modifica margine per migliorare la disposizione */
    }
}

    a, .card a {
        color: black;
        text-decoration: none;
    }

    a:hover, .card a:hover {
        color: black;
    }

    </style>

{% endblock %}


{% block content %}
{% if session.get("verificato") == false %}
    {% include "verifica.html" %}
 {% elif session.get("tipo") != "Homechecker" and session.get("tipo") != "Admin"%}
    {% include "header.html" %}
    <h1>{{ tipo_utente }}</h1>


<div style="height: 2800px">

<main role="main">

      <div class="esplora-block">
    <div class="esplora-text">Esplora. Impara. Vivi.</div>
    <div class="sottotesto">dove il tuo percorso di studio si fonde con la tua casa ideale</div>
          <br>
          <form class="form-inline" action="/search" method="post">
              {% if session.get("tipo") == "Locatore" %}
                    <input id="search2" class="form-control mr-sm-2" type="search" name="citta" placeholder="Crea il tuo annuncio..." aria-label="Search"
                    style="padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 20px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    transition: box-shadow 0.3s ease-in-out;">
              {% else %}
    <input id="search" class="form-control mr-sm-2" type="search" name="citta" placeholder="Cerco casa a..." aria-label="Search" >
    <button id="nutton" type="submit" class="btn btn-success" style="background-color: #688d51; border: 2px solid #fff;"
        onmouseover="this.style.backgroundColor='#B5DCA5'; this.style.borderColor='#fff';"
        onmouseout="this.style.backgroundColor='#688d51'; this.style.borderColor='#fff';"
        onmousedown="this.style.backgroundColor='#688d51'; this.style.borderColor='#fff';"
        onmouseup="this.style.backgroundColor='#B5DCA5'; this.style.borderColor='#fff';">
          Search
        </button>
              {% endif %}

<script>
    document.getElementById('search2').addEventListener('click', function() {
        // Sostituisci 'URL_DELLA_TUA_PAGINA_CREAZIONE_ANNUNCIO' con l'effettivo URL della tua pagina di creazione annuncio
        window.location.href = '/CaricaAnnuncio';
    });
</script>


  </form>

      </div>

      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

          <!-- Three columns of text below the carousel -->
        <div class="row" style="margin-top: 20px;">
          <div class="col-lg-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="69" height="69" fill="#5c8e48" class="bi bi-lightbulb-fill" viewBox="0 0 16 16">
              <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6m3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5"/>
            </svg>

            <h2>Piattaforma Web</h2>
            <p>
                <!-- Testo Piattaforma Web -->
                Puntiamo a diventare la piattaforma web preferita dagli studenti universitari, offrendo loro la possibilità di trovare alloggi adatti ai loro gusti e di connettersi con altri studenti con interessi affini.
            </p>
          </div>    <!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="69" height="69" fill="#5c8e48" class="bi bi-tree-fill" viewBox="0 0 16 16">
              <path d="M8.416.223a.5.5 0 0 0-.832 0l-3 4.5A.5.5 0 0 0 5 5.5h.098L3.076 8.735A.5.5 0 0 0 3.5 9.5h.191l-1.638 3.276a.5.5 0 0 0 .447.724H7V16h2v-2.5h4.5a.5.5 0 0 0 .447-.724L12.31 9.5h.191a.5.5 0 0 0 .424-.765L10.902 5.5H11a.5.5 0 0 0 .416-.777l-3-4.5z"/>
            </svg>
            <h2>Green</h2>
              <p>
                  <!-- Testo Green -->
                  Il nostro obiettivo è offrire agli studenti universitari un ambiente sostenibile. La nostra piattaforma non solo vi aiuta a trovare un tetto, ma anche a essere parte attiva di uno stile di vita più verde e consapevole.
              </p>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="69" height="69" fill="#5c8e48" class="bi bi-megaphone-fill" viewBox="0 0 16 16">
              <path d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0zm-1 .724c-2.067.95-4.539 1.481-7 1.656v6.237a25.222 25.222 0 0 1 1.088.085c2.053.204 4.038.668 5.912 1.56zm-8 7.841V4.934c-.68.027-1.399.043-2.008.053A2.02 2.02 0 0 0 0 7v2c0 1.106.896 1.996 1.994 2.009a68.14 68.14 0 0 1 .496.008 64 64 0 0 1 1.51.048zm1.39 1.081c.285.021.569.047.85.078l.253 1.69a1 1 0 0 1-.983 1.187h-.548a1 1 0 0 1-.916-.599l-1.314-2.48a65.81 65.81 0 0 1 1.692.064c.327.017.65.037.966.06z"/>
            </svg>
            <h2>Community</h2>
            <p>
                <!-- Testo Community -->
                La nostra piattaforma punta alla formazione di varie community di studenti affinché possano condividere interessi e passioni, e affinché crescano community più consapevoli per l'ambiente.
            </p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        {% if session.get("tipo") != "Locatore" %}
        <hr class="featurette-divider">

          <div class="d-flex flex-wrap">
            <div class="card m-4" style="width: 20rem;">
             <a href="Alloggio.html?id=3">
             <img class="card-img-top" src="../static/alloggi/3/NidoPartenopeo_3.jpg" alt="Foto annunci top">
             <div class="card-body">
                 <h5 class="card-title">Nido Partenopeo</h5>
                    <p class="card-text">
                        Adorabile dimora nel cuore di Napoli, ideale per chi cerca comfort e praticità. Ben curato, fornendo tutto il necessario per un soggiorno piacevole.
                    </p>
            </div>
            </a>
          </div>

          <div class="card m-4" style="width: 20rem;">
              <a href="Alloggio.html?id=15">
              <img class="card-img-top" src="../static/alloggi/15/DolcevitaSalernitana_3.jpg" alt="Foto annunci top">
              <div class="card-body">
                  <h5 class="card-title">Dolcevita Salernitana</h5>
                    <p class="card-text">
                        Esperienza di vita rilassante e confortevole nel cuore di Salerno. Questo bilocale accogliente è pensato per garantire comfort e tranquillità.
                    </p>
              </div>
              </a>
          </div>

          <div class="card m-4" style="width: 20rem;">
                <a href="Alloggio.html?id=23">
                <img class="card-img-top" src="../static/alloggi/23/SpazioColosseo_1.jpg" alt="Foto annunci top">
                <div class="card-body">
                    <h5 class="card-title">Spazio del Colosseo</h5>
                        <p class="card-text">
                            Offre un'atmosfera speciale che si fonde con la grandiosità di Roma, regalando agli ospiti un'esperienza davvero memorabile e senza pari nel cuore della città eterna.
                        </p>
                </div>
                </a>
            </div>
        </div>
        {% endif %}


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
              <h2 class="featurette-heading">Alloggi con pannelli fotovoltaici.</h2><h5><span class="text-muted">Ti lasceranno a bocca aperta.</span></h5>
            <p class="lead">
                Le abitazioni presenti sul nostro sito rappresentano il futuro del settore immobiliare, unendo innovazione e sostenibilità.
                Offriamo soluzioni che rispondono alle esigenze odierne, ma contribuiscono anche a preservare l'ambiente.
                Le case presenti sul nostro sito sono progettate pensando al risparmio energetico, all'efficienza e alla riduzione dell'impatto sull'ambiente.
                Investire in queste soluzioni non solo rappresenta un passo avanti nel campo dell'immobiliare, ma contribuisce anche alla conservazione del nostro pianeta per le generazioni future.
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="casa con pannelli fotovoltaici" src="../static/img/casa_con_pannelli_fotovoltaici.jpg" data-holder-rendered="true" style="width: 500px; height: 500px;">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh si, questa è davvero perfetta.</h2><h5><span class="text-muted">Dagli un'occhiata.</span></h5>
            <p class="lead">
                Le abitazioni dotate di pannelli solari rappresentano un'eccellente opportunità, e le potrai trovare proprio sulla nostra piattaforma.
                Invitiamo caldamente a visitare queste case per scoprire di persona i benefici di questa tecnologia innovativa.
                I pannelli solari non solo offrono un'opzione sostenibile per la produzione di energia, ma rendono anche l'abitare più efficiente e economico.
                Vedete di persona queste proprietà per vivere un'esperienza concreta dei vantaggi data dalla scelta dell'energia solare.
            </p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="casa arredata con finestre con pannelli solari" src="../static/img/case_con_finestre_con_pannelli_solari.jpg" data-holder-rendered="true" style="width: 500px; height: 500px;">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
              <h2 class="featurette-heading">Pensieri da parte di un utente.</h2><h5><span class="text-muted">Scopri l'esperienza!</span></h5>
            <p class="lead">
                "UniRentHub è stata la mia salvezza durante la ricerca di un nuovo alloggio!
                Grazie a questa piattaforma ho trovato l'appartamento adatto a me senza alcuno stress. Il processo di affitto è stato incredibilmente tranquillo e senza complicazioni.
                Le varie opzioni presenti e il supporto fornito hanno reso tutto estremamente semplice. Consiglio vivamente UniRentHub a chiunque cerchi un affitto senza preoccupazioni!"
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="immagine profilo dell'utente che ha effettuato il commento" src="../static/img/ragazzo.jpg" data-holder-rendered="true" style="width: 500px; height: 300px;">
          </div>
        </div>


        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->



    </main>
</div>


    {% include "footerNew.html" %}
    {% endif %}
    {% if session.get("tipo") == "Homechecker" %}
        {% include "error.html" %}
    {% endif %}
{% endblock %}
