{% extends "base.html" %}
{% block title %} Homepage {% endblock %}

{% block style %}

{% endblock %}
}
{% block content %}
 {% if session.get("tipo") != "Locatore" %}
    {% include "header.html" %}
    <h1>{{ tipo_utente }}</h1>


<div style="height: 2800px">


      <div class="container marketing">

           <h1 class="mb-1" style="margin-top: 15px;"><b>Recensione</b></h1>

          <h6 class="mb-0" style="margin-top: 20px;"><span style="margin-left: 3px;"></span>Copy da inserire qui per la pagina recensione</h6>
          <br>

          <div class="card-body" style="font-size: 24px; width:500px;>
              <form method=">
              <form action="/recensisci" method="POST">
             <label for="titolo" class="form-label">Titolo</label>
             <input name ="titolo" type="text" class="form-control" id="titolo" placeholder="Inserici il titolo" >
              <input type="hidden" name ="id"  class="form-control" id="id" value="{{id}}" >


            <label for="exampleFormControlTextarea1" class="form-label" style="margin-top: 10px">Descrizione</label>
            <textarea name = "descrizione" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Descrivi la tua esperienza"></textarea>

            <label id="voto" for="voto">Voto</label>
            <select name="voto" class="form-control" id="voto">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>

            <button  class="btn btn-success" style="background-color: #5c8e48; border-color: #5c8e48; margin-top: 10px; margin-left: 350px;"  type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-plus-fill" viewBox="0 0 16 16">
            <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 1.59 2.498C8 14 8 13 8 12.5a4.5 4.5 0 0 1 5.026-4.47L15.964.686Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"></path>
            <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5"></path>
            </svg>
            Pubblica
            </button>

        </form>




</div>


    {% include "footerNew.html" %}
    {% endif%}
     {% if session.get("tipo") == "Locatore" %}
        {% include "error.html" %}
    {% endif %}
{% endblock %}
</div>