<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Searchbar da integrare</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">

        <link href="../static/css/searchbar/S-bootstrap.min.css" rel="stylesheet">

        <link href="../static/css/searchbar/S-bootstrap-icons.css" rel="stylesheet">

        <link href="../static/css/searchbar/S-templatemo-topic-listing.css" rel="stylesheet">

</head>
<body>


    <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-12 mx-auto">
                    <h1 class="text-white text-center">Esplora. Impara. Vivi.</h1>

                    <h6 class="text-center">dove il tuo percorso di studio si fonde con la tua casa ideale</h6>

                    <form method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text bi-search" id="basic-addon1">

                            </span>

                            <input name="keyword" type="search" class="form-control" id="keyword" placeholder="Vorrei studiare a..." aria-label="Search">

                            <button type="submit" class="form-control">Cerca</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>

  <!-- JAVASCRIPT FILES -->
  <script src="../static/js/searchbar/S-jquery.min.js"></script>
  <script src="../static/js/searchbar/S-bootstrap.bundle.min.js"></script>
  <script src="../static/js/searchbar/S-jquery.sticky.js"></script>
  <script src="../static/js/searchbar/S-click-scroll.js"></script>
  <script src="../static/js/searchbar/S-custom.js"></script>


</body>
</html>