{% extends "base.html" %}

{% block title %} Segnalazione {% endblock %}

{% block style %}
    <style>


        .checkbox-container {
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
        }

        .checkbox-container h2 {
            font-weight: bold;
            text-align: center;
            font-family: Arial, sans-serif;
            font-size: 20px;
            margin-bottom: 15px;
            width: 48%;
        }

        .checkbox-group {
            display: flex;
            flex-direction: column;
        }

        .custom-control {
            margin-bottom: 15px;
            margin-top: 20px;
        }

        .custom-control-label {
            font-size: 18px;
        }

        .textarea-container {
            margin-top: 20px;
            height: 40vh;
            margin-left: 0px; /* Rimuovi il margine sinistro */
            position: relative;
        }

        #Descrizione {
            width: calc(100% - 0px); /* Larghezza rimasta invariata */
            height: 30vh; /* Altezza rimasta invariata */
            padding: 10px;
            resize: vertical;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
.bottone {
    position: absolute;
    bottom: 10px; /* Posiziona il bottone 10px dal basso */
    right: 0; /* Posiziona il bottone all'estrema destra */
    margin-bottom: 20px; /* Aggiungi spazio sotto il bottone per separarlo dalla textarea */
    margin-right: 10px; /* Aggiungi margine destro per separare il bottone dal bordo */
}

    </style>
{% endblock %}

{% block content %}
    {% include "header.html" %}
    <h1>{{ tipo_utente }}</h1>
<form action = "{{ url_for('gu2.segnala') }}" method = "POST"  >
    <div class="text-center">
        <h2>Seleziona le opzioni:</h2>
    </div>

    <div class="container">
        <div class="checkbox-container">
            <div class="checkbox-group">

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="motivo" value = "Annuncio non veritiero" class="custom-control-input" id="PannelliFotovoltaici">
                    <label class="custom-control-label" for="PannelliFotovoltaici">Annuncio non veritiero</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="motivo" value = "Poca affidabilita" class="custom-control-input" id="Arredamento">
                    <label class="custom-control-label" for="Arredamento">Poca affidabilità</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="motivo" value = "Termini contratto non rispettati" class="custom-control-input" id="PannelliSolari">
                    <label class="custom-control-label" for="PannelliSolari">Termini contratto non rispettati</label>
                </div>
            </div>

            <div class="checkbox-group">

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="motivo" value = "Tentata frode" class="custom-control-input" id="IdCheckbox">
                    <label class="custom-control-label" for="IdCheckbox">Tentata frode</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="motivo" value= "Comportamento scorretto" class="custom-control-input" id="IdCheckbox">
                    <label class="custom-control-label" for="IdCheckbox">Comportamento scorretto</label>
                </div>
                 <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="motivo"  value = "Termini della community non rispettati" class="custom-control-input" id="IdCheckbox">
                    <label class="custom-control-label" for="IdCheckbox">Termini della community non rispettati</label>
                </div>
            </div>
        </div>
        <!-- script per selezionare una sola checkbox con name = motivo -->
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const checkboxes = document.querySelectorAll('input[type="checkbox"][name="motivo"]');
                checkboxes.forEach((checkbox) => {
                    checkbox.addEventListener('change', function() {
                        const checkedCheckboxes = Array.from(checkboxes).filter(cb => cb.checked);
                        if (checkedCheckboxes.length > 1) {
                            alert('Puoi scegliere un solo motivo. Deseleziona le altre caselle di controllo.');
                            checkbox.checked = false;
                        }
                    });
                });
            });
        </script>


<!-- alert script form vuoto -->
{% block script %}
    <script>
        function validaForm() {
            // Verifica se almeno una checkbox è selezionata
            const checkboxes = document.querySelectorAll('input[type="checkbox"][name="motivo"]');
            let almenoUnaCheckboxSelezionata = Array.from(checkboxes).some(checkbox => checkbox.checked);

            // Verifica se il campo di descrizione non è vuoto
            const descrizione = document.getElementById('Descrizione').value.trim();
            let descrizioneCompilata = descrizione !== '';

            // Mostra un alert se nessuna checkbox è selezionata o il campo descrizione è vuoto
            if (!almenoUnaCheckboxSelezionata || !descrizioneCompilata) {
                alert('Non hai compilato nessun form. Compila almeno una checkbox e il campo di descrizione.');
                return false; // Impedisce l'invio del form
            }

            return true; // Permette l'invio del form se la validazione è superata
        }
    </script>
{% endblock %}


         <div class="form-group textarea-container">
            <label for="Descrizione">Dicci di più:</label>
            <textarea class="form-control" id="Descrizione" name="descrizione" rows="3"></textarea>
            <div class="bottone">
                <button type="submit" class="btn btn-primary"    onclick="return validaForm()"    style="margin-top: 15px; background-color: #5c8e48; border-color: #5c8e48; width: 200px;">
                    Invia segnalazione
                </button>
            </div>
        </div>
    </div>
</form>
    <footer class="footer">
        {% include "footerNew.html" %}
        {% if session.get("tipo") == "Locatore" %}
            {% include "error.html" %}
        {% endif %}
    </footer>
{% endblock %}