{% extends "base.html" %}
{% block title %} Homepage {% endblock %}

{% block style %}

{% endblock %}
}
{% block content %}

    {% include "header.html" %}
    <h1>{{ tipo_utente }}</h1>

    <style>
        .no-bullets li {
            display: flex;
            align-items: flex-start;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .no-bullets strong {
            margin-right: 0.5em;
        }
    </style>

<div style="height: 2800px">


      <div class="container marketing">

          <!-- PRICE START -->
            <!-- //TODO DA FINIRE -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Piani di abbonamento</h1>
          <p>
              Benvenuto/a su UniRentHub, il tuo partner ideale per affitti senza stress!
              Siamo qui per semplificare il processo di affitto, che tu sia uno studente in cerca della casa perfetta o un proprietario che vuole massimizzare il rendimento dei propri immobili, abbiamo l'abbonamento giusto per te.
              Esplora le nostre opzioni di abbonamento di seguito e scopri come UniRentHub può essere il tuo compagno affidabile nel mondo degli affitti. Non lasciarti sfuggire l'opportunità!
          </p>
        </div>
      </div>

      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Listino prezzi</h1>
            <p class="lead">
               Al momento della registrazione su UniRentHub, ogni mese verrà addebitata la tariffa corrispondente alla data di iscrizione.<br>
               Qui di seguito troverai un elenco dei diversi abbonamenti e dei relativi servizi offerti, offrendoti la possibilità di scegliere il pacchetto che preferisci.
               Registra il tuo account oggi e goditi l'accesso ad una serie di vantaggi esclusivi. Scegli la tua soluzione ideale con UniRentHub e semplifica la gestione degli affitti.
            </p>
      </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Base*</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">0€<small class="text-muted">/mese</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Accesso completo alla piattaforma</li>
                <li>Filtri di ricerca base</li>
                <li>Community building</li>
                <li>Assistenza Utente</li>
            </ul>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Standard**</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">5,99€<small class="text-muted">/mese</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Accesso completo alla piattaforma</li>
                <li>Filtri di ricerca avanzati</li>
                <li>Visualizzazione opzioni di contatto</li>
                <li>Community building</li>
                <li>Assistenza Utente</li>
            </ul>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Premium***</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">9,99€<small class="text-muted">/mese</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Accesso completo alla piattaforma</li>
                <li>Filtri di ricerca personalizzati</li>
                <li>Evidenza in Primo Piano</li>
                <li>Visualizzazione opzioni di contatto</li>
                <li>Community building</li>
                <li>Assistenza Utente</li>
            </ul>
          </div>
        </div>
      </div>
        <br>
        <br>
        <br>
      <div class="service-info">
          <ul class="no-bullets">
              <li><strong>NOTA:</strong> <em>l'abbonamento base permette l'utilizzo di filtri di base per la ricerca, tra cui la ricerca per zona, il tipo di alloggio.*</em></li>
              <li><strong>NOTA:</strong> <em>l'abbonamento standard permette l'utilizzo di filtri avanzati per la ricerca, tra cui la ricerca per zona, il tipo di alloggio e il range di prezzo e vicinanza a istituti accademici.**</em></li>
              <li><strong>NOTA:</strong> <em>l'abbonamento standard permette di visualizzare le opzioni di contatto di un determinato locatore.**</em></li>
              <li><strong>NOTA:</strong> <em>l'abbonamento premium permette l'utilizzo di filtri avanzati per la ricerca, tra cui la ricerca per zona, il tipo di alloggio e il range di prezzo e vicinanza a istituti accademici, inclusione di servizi specifici, valutazioni dei proprietari, e altro ancora.***</em></li>
              <li><strong>NOTA:</strong> <em>l'abbonamento premium permette di visualizzare gli annunci degli alloggi migliori al top della propria homepage.***</em></li>
          </ul>
      </div>

    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>


    <hr class="featurette-divider">


    </div><!-- /.container -->


</div>

{% include "footerNew.html" %}
{% endblock %}
