{% extends "base.html" %}
{% block title %} Homepage {% endblock %}

{% block style %}

{% endblock %}


{% block content %}
    {% if session["tipo"] == "Studente" or session["tipo"] == "Locatore" %}
    {% include "header.html" %}
    <h1>{{ tipo_utente }}</h1>


<div style="height: 2800px">


      <div class="container marketing">
          <hr class="featurette-divider">

      <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Dati utente</h4>
          <form class="needs-validation" novalidate="" action="/modifica" method="post">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Nome</label>
                <input type="text" name="nome" class="form-control" id="firstName" placeholder="" value="{{session["nome"] }}" required="">
                <div class="invalid-feedback">
                  È richiesto un nome valido.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Cognome</label>
                <input type="text" name="cognome" class="form-control" id="lastName" placeholder="" value="{{session["cognome"] }}" required="">
                <div class="invalid-feedback">
                  È richiesto un cognome valido.
                </div>
              </div>
            </div>


            <div class="mb-3">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control" placeholder="" required="" id="email" value="{{ session["email"] }}" readonly>
            <div class="invalid-feedback">
            Inserisci la tua email.
            </div>
            </div>


            <div class="mb-3">
              <label for="password">Password</label>
              <input type="password" name="password" class="form-control" placeholder="" required="" value="{{session["password"] }}" id="password">
              <div class="invalid-feedback">
                Inserisci la tua password.
              </div>
            </div>
{% if session["tipo"] == "Studente" %}
            <div class="row">
              <div class="col-md-5 mb-3">
               <label id="l-uni" for="exampleFormControlSelect1">Università</label>
                <select name="universita" class="form-control" id="exampleFormControlSelect1" >
                  <option value="{{ session["universita"] }}">{{ session["universita"] }}</option>
                    {% for uni in universita %}
                        {% if uni != session["universita"]%}
                        <option value="{{ uni }}">{{ uni }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
              </div>
            </div>
{% endif %}
            <hr class="mb-4">

            <h4 class="mb-3">Pagamento</h4>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="cc-number">Numero Carta</label>
                <input type="text" name="numeroc" class="form-control" id="cc-number" placeholder=""  maxlength="16" required="" value="{{ session["carta"] }}">
                <div class="invalid-feedback">
                  Numero Carta è richiesto.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 mb-3">
                <label for="mese_scadenza">Mese</label>
                <select class="custom-select d-block w-100" id="mese_scadenza" name="mese-scadenza" required="">
                  <option value="">Mese</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>

                </select>

                <div class="invalid-feedback">
                  Il mese di scadenza è richiesto.
                </div>
              </div>

                <div class="col-md-3 mb-3">
                <label for="scadenza">Anno</label>
                <select class="custom-select d-block w-100" id="scadenza" name="anno-scadenza" required="">
                  <option value="">Anno</option>
                    <option>2024</option>
                    <option>2025</option>
                    <option>2026</option>
                    <option>2027</option>
                    <option>2028</option>
                    <option>2029</option>
                    <option>2030</option>
                </select>

                <div class="invalid-feedback">
                  Il mese di scadenza è richiesto.
                </div>
              </div>

              <div class="col-md-3 mb-3">
                <label for="cc-cvv">CVV</label>
                <input type="password" class="form-control" name="cvv" id="cc-cvv" placeholder="" maxlength="3" required="" value = "123">
                <div class="invalid-feedback">
                  Il CVV è richiesto.
                </div>
              </div>
            </div>
            <hr class="mb-4">

            <button id="modificaDatiBtn" class="btn btn-primary btn-lg btn-block"
            type="submit"
            style="background-color: #688d51; border-color: #688d51;"
            onmouseover="this.style.backgroundColor='#6eb150'; this.style.borderColor='#6eb150';"
            onmouseout="this.style.backgroundColor='#5c8e48'; this.style.borderColor='#5c8e48';"
            onmousedown="this.style.backgroundColor='#5c8e48'; this.style.borderColor='#5c8e48';"
            onmouseup="this.style.backgroundColor='#5c8e48'; this.style.borderColor='#5c8e48';"
            >
        Modifica dati
    </button>
          </form>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.getElementById("modificaDatiBtn").addEventListener("click", function() {
        var password = document.getElementById("password").value;
        var cvv = document.getElementById("cc-cvv").value;
        // Verifica che la password contenga almeno 8 caratteri
        var lunghezzaValida = password.length >= 8;

        // Verifica che ci sia almeno una maiuscola
        var contieneMaiuscola = /[A-Z]/.test(password);

        // Verifica che ci sia almeno una minuscola
        var contieneMinuscola = /[a-z]/.test(password);

        // Verifica che ci sia almeno un numero
        var contieneNumero = /\d/.test(password);

        // Verifica che ci sia almeno un carattere speciale
        var contieneSpeciale = /[!@#$%^&*(),.?":{}|<>]/.test(password);
        var numcarta = document.getElementById("cc-number").value
        if(numcarta.trim().length !== 16){
            alert("il Numero di carta deve avere 16 cifre");
            event.preventDefault()
        }
        if(cvv.trim().length !== 3){
            alert("il cvv non ha tre cifre");
            event.preventDefault();
        }
        // Controlla tutte le condizioni
        if (lunghezzaValida && contieneMaiuscola && contieneMinuscola && contieneNumero && contieneSpeciale) {

        } else {
            alert("La password non è valida. Assicurati di rispettare tutti i requisiti.");
            event.preventDefault();
        }
    });
</script>
        </div>


          <hr class="featurette-divider">
        {% if session["tipo"] == "Locatore" %}
          <h4 class="mb-3">I miei alloggi</h4>
        {% else %}
          <h4 class="mb-3">La mia casa</h4>
        {% endif %}
          <div class="container">
        <div class="row">
        {% if alloggi %}
            {% for alloggio in alloggi %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img class="card-img-top" src="../{{ immagini[loop.index0] }}" alt="Card image cap" style="width: 338px; height: 338px">
                        <div class="card-body">
                            <h5 class="card-title">{{ alloggio.get_titolo() }}</h5>
                            <p class="card-text">{{ alloggio.get_descrizione() }}</p>
                            <a href="{{ url_for('gu2.annuncio', id=alloggio.get_id_alloggio()) }}" class="card-link">Dettagli</a>
                            {% if session.get("tipo") == "Locatore" %}
                            <a href="{{ url_for('gu2.modifica_annuncio', id=alloggio.get_id_alloggio()) }}" class="card-link">Modifica</a>
                            {% else %}
                            <a href="{{ url_for('gu2.inseriscirec', id=alloggio.get_id_alloggio()) }}" class="card-link">Recensione</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if loop.index % 3 == 0 %} <!-- Chiudi la riga ogni 3 elementi -->
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        {% else %}
            <p>Non ci sono alloggi disponibili.</p>
        {% endif %}
        </div>
    </div>

          <hr class="featurette-divider">


      </div><!-- /.container -->
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('modificaDatiBtn').addEventListener('click', function (event) {
            var form = document.querySelector('form.needs-validation');

            var nome = document.getElementById('firstName').value;
            var cognome = document.getElementById('lastName').value;
            var email = document.getElementById('email').value;
            var password = document.getElementById('password').value;
            var numeroCarta = document.getElementById('cc-number').value;
            var meseScadenza = document.getElementById('mese_scadenza').value;
            var annoScadenza = document.getElementById('scadenza').value;

            if (!form.checkValidity() || !nome || !cognome || !email || !password || !numeroCarta || !meseScadenza || !annoScadenza) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        });
    });
</script>
    {% include "footerNew.html" %}
    {% endif %}
    {% if session.get("tipo") != "Studente"  and session.get("tipo") != "Locatore" %}
    {% include "error.html" %}
    {% endif %}

{% endblock %}
