<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verifica</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f8f8;
            text-align: center;
            margin: 50px;
        }

        h1 {
            color: #333;
        }

        p {
            color: #666;
            font-size: 18px;
        }
    </style>

</head>
<body>
    <h1>Ti abbiamo mandato un'email per verificare il tuo account</h1>
    <p>Verificati per un'esperienza migliore di navigazione.</p>
</body>
</html>
